@namespace BlazorComponent
@typeparam TValue
@typeparam TInput
@inherits ComponentPartBase<TInput>

<div class="@CssProvider.GetClass("text-field-slot")">
    @RenderPart(typeof(BInputLabel<,>))
    @if (Prefix != null)
    {
        @RenderPart(typeof(BTextFieldAffix<,>),"prefix",RenderText(Prefix),PrefixReferenceCapture,arg0Name:"Type",arg1Name:"ChildContent",arg2Name:"ReferenceCapture")
    }
    @RenderPart(typeof(BTextFieldInput<,>))
    @if (Suffix != null)
    {
        @RenderPart(typeof(BTextFieldAffix<,>),"suffix",RenderText(Suffix),arg0Name:"Type",arg1Name:"ChildContent")
    }
</div>
