@namespace BlazorComponent
@typeparam TItem
@typeparam TValue
@typeparam TInput
@inherits BSelectMenu<TItem, TValue,TValue, TInput>

<div class="@CssProvider.GetClass("menu-body")">
    <div class="@CssProvider.GetClass("menu-body-wrapper")" style="@CssProvider.GetStyle("menu-body-wrapper")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BList>()">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BItemGroup>()">
                @foreach (var item in Items)
                {
                    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BSelectList<,,>))"
                                   OnItemClick="@HandleOnItemClick"
                                   Item="@item"
                                   Loading="@IsLoading(item)"
                                   Value="@ItemValue(item)"
                                   Label="@ItemText(item)"
                                   Children="@ItemChildren(item)">
                    </AbstractComponent>
                }
            </AbstractComponent>
        </AbstractComponent>
    </div>
</div>

@if (ShowChildren)
{
    <AbstractComponent Items="@Children" Metadata="AbstractProvider.GetMetadata(typeof(BCascaderMenuBody<,,>))"></AbstractComponent>
}
