@namespace BlazorComponent
@typeparam TItem
@typeparam TValue
@typeparam TInput
@inherits BSelectMenu<TItem, TValue, TInput>

<div style="@CssProvider.GetStyle("cascader-menu-body")">
    <div style="@CssProvider.GetStyle("cascader-menu-body-wrap")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BList>()">
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemGroup>()">
                @foreach (var item in Items)
                {
                    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BSelectOption<TItem, TValue>>()"
                                   OnItemClick="@HandleOnItemClick"
                                   Item="@item"
                                   Value="@ItemValue(item)"
                                   Label="@ItemText(item)"
                                   Children="@ItemChildren(item)">
                    </AbstractComponent>
                }
            </AbstractComponent>
        </AbstractComponent>
    </div>
</div>

@if (ShowChildren)
{
    <AbstractComponent Items="@Children" Metadata="AbstractProvider.GetMetadata<BCascaderMenuBody<TItem,TValue,TInput>>()"></AbstractComponent>
}
