@namespace BlazorComponent
@inherits BSelectSlot

<div class="@CssProvider.GetClass(this)" style="@CssProvider.GetStyle(this)" id="@Id" @ref="Ref">
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BList>()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BListItemGroup>()">
            @foreach (var item in Items)
            {
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<BSelectOption<BCascaderNode, string>>()"
                           Item="@item"
                           Value="@item.Value"
                           Label="@item.Label">
                </AbstractComponent>
            }
        </AbstractComponent>
    </AbstractComponent>
</div>

@if (ShowSubItems)
{
    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BCascaderSelectSlot>()"></AbstractComponent>
}



