@namespace BlazorComponent
@typeparam TItem
@typeparam TValue
@typeparam TInput
@inherits BSelectMenu<TItem, TValue,TValue, TInput>

<div class="@CssProvider.GetClass("menu-body")">
    <div class="@CssProvider.GetClass("menu-body-wrapper")" style="@CssProvider.GetStyle("menu-body-wrapper")">
        <BList @attributes="GetAttributes(typeof(BList))">
            <BItemGroup @attributes="GetAttributes(typeof(BItemGroup))">
                @foreach (var item in Items)
                {
                    <BCascaderList TItem="TItem" TValue="TValue"
                               OnItemClick="@HandleOnItemClick"
                               Item="@item"
                               Loading="@IsLoading(item)"
                               Value="@ItemValue(item)"
                               Label="@ItemText(item)"
                               Children="@ItemChildren(item)"
                               @attributes="GetAttributes(typeof(BSelectList<,,>))">
                    </BCascaderList>
                }
            </BItemGroup>
        </BList>
    </div>
</div>

@if (ShowChildren)
{
    @RenderPart(typeof(BCascaderMenuBody<,,>),Children,Level+1, arg0Name:"Items",arg1Name:"Level")
}
