@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" @onclick="HandleOnClickAsync">
        @RenderPart(typeof(BProgressLinearStream<>))
        @RenderPart(typeof(BProgressLinearBackground<>))
        @RenderPart(typeof(BProgressLinearBuffer<>))
        @if (Indeterminate)
        {
            @RenderPart(typeof(BProgressLinearIndeterminate<>))
        }
        else
        {
            @RenderPart(typeof(BProgressLinearDeterminate<>))
        }
        @RenderPart(typeof(BProgressLinearContent<>))
    </div>
</CascadingValue>