@namespace BlazorComponent
@inherits BMenuable

@if (ActivatorContent != null)
{
    @ComputedActivatorContent
}

<div style="@CssProvider.GetStyle()" class="@CssProvider.GetClass()" @ref="Ref">
    @if (ShowContent)
    {
        <Transition Name="@Transition">
            <Element Show="Value"
                 style="@CssProvider.GetStyle("content")"
                 class="@CssProvider.GetClass("content")"
                 @onclick="OnContentClick"
                 @onmouseenter="OnContentMouseenter"
                 @onmouseleave="OnContentMouseleave"
                 @attributes="@Attributes"
                 ReferenceCaptureAction="r => ContentRef = r">
                @ChildContent
            </Element>
        </Transition>
    }
</div>