@namespace BlazorComponent
@inherits BMenuable

<div style="@CssProvider.GetStyle()" class="@CssProvider.GetClass()" @ref="Ref">
    @if (IsBooted)
    {
        <CascadingValue Value="this" IsFixed>
            <BCascadingValue Value="IsDark" Name="IsDark">
                <Transition Name="@Transition">
                    <ShowTransitionElement
                        Value="IsActive"
                        id="@Id"
                        style="@CssProvider.GetStyle("content")"
                        class="@CssProvider.GetClass("content")"
                        @attributes="@Attributes"
                        ReferenceCaptureAction="el => ContentElement = el">
                        @ChildContent
                    </ShowTransitionElement>
                </Transition>
            </BCascadingValue>
        </CascadingValue>
    }
</div>

@ComputedActivatorContent
