@namespace BlazorComponent
@inherits BMenuable

@ComputedActivatorContent

<div style="@CssProvider.GetStyle()" class="@CssProvider.GetClass()" @ref="Ref">
    @if (ShowContent)
    {
        <BCascadingValue Value="this">
            <Transition Name="@Transition">
                <Element Show="Value"
                     id="@Id"
                     style="@CssProvider.GetStyle("content")"
                     class="@CssProvider.GetClass("content")"
                     @onclick="OnContentClick"
                     @onmouseenter="OnContentMouseenter"
                     @onmouseleave="OnContentMouseleave"
                     @attributes="@Attributes"
                     ReferenceCaptureAction="r => ContentRef = r">
                    @ChildContent
                </Element>
            </Transition>
        </BCascadingValue>
    }
</div>