@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" @attributes="Attributes">
    <div class="@CssProvider.GetClass("body")">
        @ChildContent
    </div>
    <div class="@CssProvider.GetClass("divider")">
        <div class="@CssProvider.GetClass("dot")">
            <div class="@CssProvider.GetClass("inner-dot")"></div>
        </div>
    </div>
    <div class="@CssProvider.GetClass("opposite")">
        @OppositeContent
    </div>
</div>