@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this" IsFixed>
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
        <BListItem @onclick="@HandleOnClick" @attributes="GetAttributes(typeof(BListItem))">
            @if (PrependIconContent != default)
            {
                @PrependIconContent
            }
            else
            {
                <BListItemIcon @attributes="GetAttributes(typeof(BListItemIcon),PREPEND)">
                    <BIcon @attributes="GetAttributes(typeof(BIcon))">
                        @PrependIcon
                    </BIcon>
                </BListItemIcon>
            }

            @ActivatorContent

            @if (AppendIconContent != default)
            {
                @AppendIconContent
            }
            else if (!string.IsNullOrEmpty(AppendIcon))
            {
                <BListItemIcon @attributes="GetAttributes(typeof(BListItemIcon),APPEND)">
                    <BIcon @attributes="GetAttributes(typeof(BIcon))">
                        @AppendIcon
                    </BIcon>
                </BListItemIcon>
            }
        </BListItem>
        @if (Booted || IsActive)
        {
            <ExpandTransition>
                <ShowTransitionElement Value="IsActive" Class="@CssProvider.GetClass("items")" Style="@CssProvider.GetStyle("items")">
                    @ChildContent
                </ShowTransitionElement>
            </ExpandTransition>
        }
    </div>
</CascadingValue>