@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id">
    <div class="@CssProvider.GetClass("control")">
        <div class="@CssProvider.GetClass("slot")"
             @onclick="Click"
             @ref="Ref"
             tabindex="0"
             style="outline:none"
             @onblur="HandleOnBlur">

            @if (Outlined)
            {
                <fieldset>
                    <legend style="@LegendStyle">
                        <span>@((MarkupString)"&#8203;")</span>
                    </legend>
                </fieldset>
            }

            <div class="@CssProvider.GetClass("select-slot")">
                @if (!string.IsNullOrWhiteSpace(Label))
                {
                    if (!Solo || Solo && !_text.Any())
                    {
                        <label class="@CssProvider.GetClass("label")" style="@CssProvider.GetStyle("label")">@Label</label>
                    }
                }
                <div class="@CssProvider.GetClass("selector")">
                    @if (Chips)
                    {
                        @foreach (var item in _text)
                        {
                            <SlotComponent Description="SlotProvider.GetSlot<BChip>()">@item</SlotComponent>
                        }
                    }
                    else
                    {
                        @for (var i = 0; i < _text.Count(); i++)
                        {
                            var item = _text.ElementAt(i);
                            if (i == _text.Count() - 1)
                            {
                                <div class="@CssProvider.GetClass("selected")">@item</div>
                            }
                            else
                            {
                                <div class="@CssProvider.GetClass("selected")">@($"{item}, ")</div>
                            }
                        }
                    }
                    <input id="input-@Id" type="text" readonly="readonly"
                           class="@CssProvider.GetClass("select-input")" />
                </div>
                <div class="@CssProvider.GetClass("select-arrow")">
                    <div class="@CssProvider.GetClass("select-arrow-icon")">
                        <SlotComponent Description="SlotProvider.GetSlot<BIcon>()">
                            @_icon
                        </SlotComponent>
                    </div>
                </div>
                <input type="hidden" value="@(Multiple ? string.Join(',', Values) : Value)" />
            </div>
            <CascadingValue Value="this">
                <SlotComponent Description="SlotProvider.GetSlot<BPopover>()">
                    @if (Slot)
                    {
                        <SlotComponent Description="SlotProvider.GetSlot<BSelectSlot>()"></SlotComponent>
                    }
                    else
                    {
                        <SlotComponent Description="SlotProvider.GetSlot<BList>()">
                            <SlotComponent Description="SlotProvider.GetSlot<BListItemGroup>()">
                                @foreach (var item in Items)
                                {
                                    <SlotComponent Description="SlotProvider.GetSlot<BSelectOption<TItem>>()"
                                           Value="@item"
                                           Key="@(ItemValue?.Invoke(item) ?? item.ToString())"
                                           Checked="@IsSelected(item)">
                                        @ItemText?.Invoke(item)
                                    </SlotComponent>
                                }
                            </SlotComponent>
                        </SlotComponent>
                    }
                </SlotComponent>
            </CascadingValue>
        </div>
        @if (!Slot)
        {
            <div class="@CssProvider.GetClass("hit")">
                <SlotComponent Description="SlotProvider.GetSlot<BHitMessage>()">@Hint</SlotComponent>
            </div>
        }
    </div>
</div>

<SlotComponent Description="SlotProvider.GetSlot<BOverlay>()" />