@namespace BlazorComponent
@typeparam TItem
@typeparam TItemValue
@typeparam TValue
@inherits BTextFieldDefaultSlot<TValue, ISelect<TItem, TItemValue,TValue>>

@RenderPart(typeof(BTextFieldFieldset<,>))
<div class="@CssProvider.GetClass("select-slot")">
    @RenderPart(typeof(BInputLabel<,>))
    @if (Prefix != null)
    {
        @RenderPart(typeof(BTextFieldAffix<,>),"prefix",RenderText(Prefix),arg0Name:"Type",arg1Name:"ChildContent")
    }
    @RenderPart(typeof(BSelectSelections<,,,>))
    @if (Suffix != null)
    {
        @RenderPart(typeof(BTextFieldAffix<,>),"suffix",RenderText(Suffix),arg0Name:"Type",arg1Name:"ChildContent")
    }
    @RenderPart(typeof(BTextFieldClearIcon<,>))
    @RenderPart(typeof(BTextFieldIconSlot<,>))
    @RenderPart(typeof(BSelectHiddenInput<,,,>))
</div>
@RenderPart(typeof(BSelectMenu<,,,>))
@RenderPart(typeof(BLoadableProgress<>))
