@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem

<div class="@CssBuilder.Class" style="@StyleBuilder.Style" id="@Id">
    <div class="@ControlCssBuilder.Class">
        <div class="@SlotCssBuilder.Class"
             @onclick="Click"
             @ref="Ref"
             tabindex="0"
             @onblur="HandleOnBlur">
            <div class="@SelectSlotCssBuilder.Class">
                @if (!string.IsNullOrWhiteSpace(Label))
                {
                    if (!Solo || Solo && !_text.Any())
                    {
                        <label class="@LabelCssBuilder.Class" style="@LabelStyleCssBuilder.Style">@Label</label>
                    }
                }
                <div class="@SelectorCssBuilder.Class">
                    @if (Chips)
                    {
                        @foreach (var item in _text)
                        {
                            <SlotComponent Description="SlotProvider.GetSlot<BChip>()">@item</SlotComponent>
                        }
                    }
                    else
                    {
                        @for (var i = 0; i < _text.Count(); i++)
                        {
                            var item = _text.ElementAt(i);
                            if (i == _text.Count() - 1)
                            {
                                <div class="@SelectedCssBuilder.Class">@item</div>
                            }
                            else
                            {
                                <div class="@SelectedCssBuilder.Class">@($"{item}, ")</div>
                            }
                        }
                    }
                    <input id="input-@Id" type="text" readonly="readonly"
                           class="@SelectInputCssBuilder.Class" />
                </div>
                <div class="@SelectArrowCssBuilder.Class">
                    <div class="@SelectArrowIconCssBuilder.Class">
                        <SlotComponent Description="SlotProvider.GetSlot<BIcon>()">
                            @_icon
                        </SlotComponent>
                    </div>
                </div>
                <input type="hidden" value="@(Multiple ? string.Join(',', Values) : Value)" />
            </div>
            <SlotComponent Description="SlotProvider.GetSlot<BPopover>()">
                <SlotComponent Description="SlotProvider.GetSlot<BList>()">
                    <SlotComponent Description="SlotProvider.GetSlot<BListItemGroup>()">
                        <CascadingValue Value="this">
                            @foreach (var item in Items)
                            {
                                <SlotComponent Description="SlotProvider.GetSlot<BSelectOption<TItem>>()"
                                           Value="@item"
                                           Key="@(ItemValue?.Invoke(item) ?? item.ToString())"
                                           Checked="@IsSelected(item)">
                                    @(ItemText?.Invoke(item) ?? item.ToString())
                                </SlotComponent>
                            }
                        </CascadingValue>
                    </SlotComponent>
                </SlotComponent>
            </SlotComponent>
        </div>
        <div class="@HitCssBuilder.Class">
            <SlotComponent Description="SlotProvider.GetSlot<BHitMessage>()">@Hint</SlotComponent>
        </div>
    </div>
</div>

<SlotComponent Description="SlotProvider.GetSlot<BOverlay>()" />