@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@Display @CssProvider.GetStyle()">
    <hr class="@CssProvider.GetClass("hr")" style="@CssProvider.GetStyle("hr")" id="@Id" @ref="Ref" />
    @if (ChildContent is not null)
    {
        <span class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")">@ChildContent</span>
    }
</div>
