@namespace BlazorComponent
@typeparam TDatePickerTable
@inherits ComponentPartBase<TDatePickerTable>

<button class="@CssProvider.GetClass("btn",data:(Date,IsFloating,IsOtherMonth))"
        style="@CssProvider.GetStyle("btn",data:(Date,IsFloating,IsOtherMonth))" @attributes="GetButtonAttrs(Date)">
    <div class="@CssProvider.GetClass("btn-content")">
        @Formatter(Date)
    </div>
    @RenderPart(typeof(BDatePickerTableEvents<>))
</button>
