@namespace BlazorComponent
@inherits BDomComponentBase

<header class="@CssBuilder.Class" style="@Style" id="@Id" @ref="Ref" data-booted="true">
    <div class="@ContentCssBuilder.Class" style="@ContentStyleBuilder.Style">
        @ChildContent
    </div>
</header>
