@namespace BlazorComponent
@inherits BDomComponentBase
@implements IInputBody

@if (Outlined)
{
    <fieldset>
        <legend style="@CssProvider.GetStyle( "legend")">
            <span>
                @InnerHtml
            </span>
        </legend>
    </fieldset>
}

<div class="@CssProvider.GetClass()">
    @if (ShowLabel)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BLabel>()"></AbstractComponent>
    }

    @if (IsTextArea)
    {
        <textarea rows="@Rows" @onblur="OnBlur" value="@Value" @onchange="HandleChange"></textarea>
    }
    else if (IsTextField)
    {
        <input type="@Type" @onblur="OnBlur" value="@Value" @onchange="HandleChange" placeholder="@PlaceHolder" />
    }
    else
    {
        @ChildContent
    }
</div>