@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
        @if (PrependContent != default || PrependIcon != null)
        {
            <div class="@CssProvider.GetClass( "prepend-outer")">
                @PrependContent
                @if (PrependIcon != null)
                {
                    //TODO:这里还需要进一步完善
                    var name = "prepend-outer-icon";
                    <div class="@CssProvider.GetClass("prepend-outer-icon")">
                        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>(name)">
                            @PrependIcon
                        </AbstractComponent>
                    </div>
                }
            </div>
        }
        <div class="@CssProvider.GetClass( "control")">
            <div class="@CssProvider.GetClass( "input-slot")" style="@CssProvider.GetStyle( "input-slot")"
                 @onclick="HandleOnClick"
                 @onmousedown="HandleOnMouseDown"
                 @onmouseup="HandleOnMouseUp">
                <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BInputSlotBody<>))"></AbstractComponent>
            </div>
            <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BInputMessages<>))"></AbstractComponent>
        </div>
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BInputAppendSlot<>))"></AbstractComponent>
    </div>
</CascadingValue>
