@namespace BlazorComponent
@inherits BDomComponentBase
@implements IInputBody

@if (PrependInnerContent != null)
{
    <div class="@CssProvider.GetClass("prepend-inner")">
        @PrependInnerContent
    </div>
}

@if (Outlined)
{
    <fieldset>
        <legend style="@CssProvider.GetStyle( "legend")">
            <span>
                @InnerHtml
            </span>
        </legend>
    </fieldset>
}

<div class="@CssProvider.GetClass()">
    @if (ShowLabel)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BLabel>()"></AbstractComponent>
    }

    @if (IsTextArea)
    {
        <textarea disabled="@Disabled" readonly="@Readonly" rows="@Rows" @onblur="OnBlur" value="@Value" @onchange="HandleChangeAsync" @ref="InputRef"></textarea>
    }
    else if (IsTextField)
    {
        <input disabled="@Disabled" readonly="@Readonly" type="@Type" @onblur="OnBlur" value="@Value" @onchange="HandleChangeAsync" placeholder="@PlaceHolder" @ref="InputRef" />
    }
    else
    {
        @ChildContent
    }
</div>