@namespace BlazorComponent
@inherits BDomComponentBase

@if (Outlined)
{
    <fieldset>
        <legend style="@CssProvider.GetStyle( "legend")">
            <span>
                @InnerHtml
            </span>
        </legend>
    </fieldset>
}

<div class="@CssProvider.GetClass()">
    @if (ShowLabel)
    {
        <SlotComponent Description="SlotProvider.GetSlot<BLabel>()"></SlotComponent>
    }

    @if (IsTextArea)
    {
        <textarea rows="@Rows" @onblur="HandleBlur" value="@Value" @onchange="HandleChange"></textarea>
    }
    else if (IsTextField)
    {
        <input type="@Type" @onblur="HandleBlur" value="@Value" @onchange="HandleChange" placeholder="@PlaceHolder" />
    }
    else
    {
        @ChildContent
    }
</div>