@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <div class="@CssProvider.GetClass()" id="@Id" @ref="Ref" @onclick="HandleClick">
        @if (Prepend != default)
        {
            <div class="@CssProvider.GetClass( "prepend")">
                @Prepend
            </div>
        }
        <div class="@CssProvider.GetClass( "control")">
            <div class="@CssProvider.GetClass( "input-slot")" style="@CssProvider.GetStyle( "input-slot")">
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<IInputBody>()">
                    @ChildContent
                </AbstractComponent>
            </div>
            @if (ShowDetails)
            {
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<BMessage>()"></AbstractComponent>
            }
        </div>
        @if (Append != default)
        {
            <div class="@CssProvider.GetClass( "append")">
                @Append
            </div>
        }
    </div>
</CascadingValue>
