@namespace BlazorComponent
@inherits BDomComponentBase

<BPicker Class="@CssProvider.GetClass()" @attributes="GetAttributes(typeof(BPicker))">
    <TitleContent>
        @if (!NoTitle)
        {
            <BDatePickerTitle @attributes="GetAttributes(typeof(BDatePickerTitle))"></BDatePickerTitle>
        }
    </TitleContent>
    <ChildContent>
        <div @key="InternalActivePicker">
            @if (InternalActivePicker == DatePickerType.Year)
            {
                @RenderPart(typeof(BDatePickerYears<>))
            }
            else
            {
                @RenderPart(typeof(BDatePickerTableHeader<>))
                if (InternalActivePicker == DatePickerType.Date)
                {
                    @RenderPart(typeof(BDatePickerDateTable<>))
                }
                else
                {
                    @RenderPart(typeof(BDatePickerMonthTable<>))
                }
            }
        </div>
    </ChildContent>
    <ActionsContent>
        @ChildContent
    </ActionsContent>
</BPicker>

