@namespace BlazorComponent
@inherits BDomComponentBase

<header class="@CssProvider.GetClass(this)" style="@CssProvider.GetStyle(this)" id="@Id" @ref="Ref" @attributes="Attributes">
    <div class="@CssProvider.GetClass(this,"content")" style="@CssProvider.GetStyle(this,"content")">
        @ChildContent
    </div>
</header>
