@namespace BlazorComponent
@inherits BDomComponentBase

<header class="@CssBuilder.Class" style="@Style @StyleBuilder.Style" id="@Id" @ref="Ref" @attributes="Attributes">
    <div class="@ContentCssBuilder.Class" style="@ContentStyleBuilder.Style">
        @ChildContent
    </div>
</header>
