@namespace BlazorComponent
@inherits BDomComponentBase

<button type="button"
		class="@CssProvider.GetClass(this)"
		style="@CssProvider.GetStyle(this)"
		id="@Id"
		@ref="Ref"
		@onclick="HandleOnClick"
		@onclick:stopPropagation="ClickStopPropagation">

	<div class="@CssProvider.GetClass(this,"content")">
		@ChildContent
	</div>

	@if (Loading)
	{
	 <div class="@CssProvider.GetClass(this,"loader")">
			@LoadingFragment
	 </div>
	}

</button>