@namespace BlazorComponent
@inherits BDomComponentBase
@implements IItem

<button type="@Type"
        class="@CssProvider.GetClass()"
        style="@CssProvider.GetStyle()"
        id="@Id"
        @ref="Ref"
        @onclick="HandleClickAsync"
        @onclick:stopPropagation="StopPropagation" onfocus="this.blur()">

    <div class="@CssProvider.GetClass("content")">
        @ChildContent
    </div>

    @if (Loading)
    {
        <div class="@CssProvider.GetClass("loader")">
            @if (LoaderContent == null)
            {
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<BProcessCircular>()"></AbstractComponent>
            }
            else
            {
                @LoaderContent
            }
        </div>
    }

</button>