@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()">
    <div class="@CssProvider.GetClass("select")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BInput))"></AbstractComponent>
    </div>
    <div class="@CssProvider.GetClass("pagination")">
        @PageStart-@PageStop of @TotalCount
    </div>
    <div class="@CssProvider.GetClass("before")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BButton>(PREV)"></AbstractComponent>
    </div>
    <div class="@CssProvider.GetClass("after")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BButton>(NEXT)"></AbstractComponent>
    </div>
</div>
