@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
    @Top
    <div class="@CssProvider.GetClass("wrap")">
        <table>
            @if (Loading)
            {
                <AbstractComponent Metadata="AbstractProvider.GetMetadata<BTableLoading>()"></AbstractComponent>
                <tbody class="@CssProvider.GetClass("empty")">
                    <tr>
                        <td>Loading... Please wait</td>
                    </tr>
                </tbody>
            }
            else
            {
                if (!HideDefaultHeader)
                {
                    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BTableHeader>()"></AbstractComponent>
                }
                <tbody>
                    @if (Items == null)
                    {
                        if (NoResult != null)
                        {
                            @NoResult
                        }
                        else
                        {
                            <tr>
                                <td colspan="@Headers.Count" style="text-align:center">No result</td>
                            </tr>
                        }
                    }
                    else
                    {
                        var items = Items.Skip(PageStart - 1).Take(PageSize);
                        foreach (var item in items)
                        {
                            <tr>
                                @ChildContent(item)
                            </tr>
                        }
                    }
                </tbody>

            }
        </table>
    </div>
    @if (!HideDefaultFooter && Items != null)
    {
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BTableFooter>()"></AbstractComponent>
    }
    @Bottom
</div>

