@namespace BlazorComponent
@inherits BItemGroup

<BCascadingValue Value="this" IsFixed>
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
        <div class="@CssProvider.GetClass("container")" style="@CssProvider.GetStyle("container")">
            @TransitionCount
            @ChildContent

            @if (ArrowsVisible)
            {
                if (HasPrev)
                {
                    <div class="@CssProvider.GetClass("prev")">
                        @if (PrevContent != null)
                        {
                            @PrevContent(Prev)
                        }
                        else
                        {
                            <BButton Icon @onclick="Prev" @attributes="GetAttributes(typeof(BButton))">
                                <BIcon @attributes="GetAttributes(typeof(BIcon))">
                                    @PrevIcon
                                </BIcon>
                            </BButton>
                        }
                    </div>
                }

                if (HasNext)
                {
                    <div class="@CssProvider.GetClass("next")">
                        @if (NextContent != null)
                        {
                            @NextContent(Next)
                        }
                        else
                        {
                            <BButton Icon @onclick="Next" @attributes="GetAttributes(typeof(BButton))">
                                <BIcon @attributes="GetAttributes(typeof(BIcon))">
                                    @NextIcon
                                </BIcon>
                            </BButton>
                        }
                    </div>
                }
            }
        </div>
    </div>
</BCascadingValue>