@namespace BlazorComponent
@inherits BBootable

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref">
    @ComputedActivatorContent

    @*TODO: implement TransitionGroup*@
    <Transition Name="@Transition" Origin="@Origin">
        <ShowTransitionElement @attributes="@ContentAttributes" Value="Value" Tag="@Tag" class="@CssProvider.GetClass("dial-list")" style="@CssProvider.GetStyle("dial-list")" id="@Id" ReferenceCaptureAction="el => ContentElement = el">
            @ChildContent
        </ShowTransitionElement>
    </Transition>
</div>

