@namespace BlazorComponent
@typeparam TAlert
@inherits ComponentPartBase<TAlert>

<div class="@CssProvider.GetClass("wrapper")" style="@CssProvider.GetStyle("wrapper")">
    @if (IsShowIcon)
    {
        @RenderPart(typeof(BAlertIcon<>))
    }

    @RenderPart(typeof(BAlertContent<>))

    @if (Border != Borders.None)
    {
        <div class="@CssProvider.GetClass("border")" style="@CssProvider.GetStyle("border")"></div>
    }

    @if (Dismissible)
    {
        @RenderPart(typeof(BAlertDismissButton<>))
    }
</div>