@namespace BlazorComponent
@inherits BUpload

<label class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()"> 
    <InputFile @ref="InputFileRef" OnChange=OnInputFileChange accept="@Accept" multiple=@Multiple />
    @if(ChildContent is not null)
    {
        @ChildContent(PreviewImageUrls);
    }
    else
    {
        @if(PreviewImageUrls.Count == 0)
        {
            <img src="@Icon" width="@PreviewImageWith" height="@PreviewImageHeight" class="@ImageClass" />
        }
        @foreach(var imageUrl in PreviewImageUrls)
        {
            <img src="@imageUrl" width="@PreviewImageWith" height="@PreviewImageHeight" class="@ImageClass" />
        }
    }
</label>
