@using Microsoft.AspNetCore.Components.Forms
@namespace BlazorComponent
@inherits BDomComponentBase

<label class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()"> 
    <InputFile OnChange=OnInputFileChange accept="image/*" multiple=@Multiple />
    @if(ChildContent is not null)
    {
        @ChildContent(ImageUrls);
    }
    else
    {
        @foreach(var imageUrl in ImageUrls)
        {
            <img src="@imageUrl" width="@PreviewImageWith" height="@PreviewImageHeight" />
        }
    }
</label>
