@namespace BlazorComponent
@typeparam TIcon
@inherits ComponentPartBase<TIcon>

@if (OnClick.HasDelegate)
{
    @RenderPart(typeof(BButtonIconSlot<>))
}
else
{
    <span role="img" class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref" @attributes="Attrs">
        <svg class="@CssProvider.GetClass("svg")"
         style="@CssProvider.GetStyle("svg")"
         xmlns="http://www.w3.org/2000/svg"
         @attributes="SvgAttrs">
            <path d="@Icon">
            </path>
        </svg>
    </span>
}