@namespace BlazorComponent
@inherits BDomComponentBase

<div role="alert" class="@CssProvider.GetClass(this)" style="@CssProvider.GetStyle(this)" id="@Id">
    <div class="@CssProvider.GetClass(this,"wrap")">
        @IconContent
        <div class="@CssProvider.GetClass(this,"content")">
            @ChildContent
        </div>
        @if (Border.HasValue)
        {
            <div class="@CssProvider.GetClass(this,"border")" style="@CssProvider.GetStyle(this,"border")"></div>
        }
        @DismissibleButtonContent
    </div>
</div>
