@namespace BlazorComponent
@typeparam TItem
@inherits BDomComponentBase
@using Microsoft.AspNetCore.Components.Web.Virtualization

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
    <div class="@CssProvider.GetClass("container")" style="@CssProvider.GetStyle("container")">
        <Virtualize Items="Items" ItemSize=ItemSize OverscanCount="OverscanCount" TItem="TItem">
            @ItemContent?.Invoke(context)
        </Virtualize>
    </div>
    @FooterContent
</div>
