@namespace BlazorComponent
@typeparam TDataTableHeader
@inherits ComponentPartBase<TDataTableHeader>

<th class="@CssProvider.GetClass("header",data:Header)" style="@CssProvider.GetStyle("header",data:Header)" @attributes="GetHeaderAttrs(Header)">
    @if (Header.Value == "data-table-select" && !SingleSelect)
    {
        @RenderPart(typeof(BDataTableHeaderSelectAll<>))
    }
    else
    {
        @if (!DisableSort && Header.Sortable && Header.Align == "end")
        {
            @RenderPart(typeof(BDataTableHeaderSortIcon<>))
        }
        <span>
            @if (HeaderColContent != null)
            {
                @HeaderColContent(Header)
            }
            else
            {
                @Header.Text
            }
        </span>
        @if (!DisableSort && Header.Sortable)
        {
            var sortIndex = Options.SortBy.IndexOf(Header.Value);
            var beingSorted = sortIndex >= 0;

            @RenderPart(typeof(BDataTableHeaderSortIcon<>))
            if (Options.MultiSort && beingSorted)
            {
                <span class="@CssProvider.GetClass("sort-badge")">
                    @(sortIndex+1)
                </span>
            }
        }
        @if (ShowGroupBy && Header.Groupable)
        {
            @RenderPart(typeof(BDataTableGroupByToggle<>),Header)
        }
    }
</th>


