@typeparam TItem
@namespace BlazorComponent
@using Microsoft.AspNetCore.Components.Web
@inherits BDomComponentBase
<CascadingValue Value="IsDark" Name="IsDark">
    <div class="@CssProvider.GetClass() dragItem-container" style="@CssProvider.GetStyle()" id="@Id">         
        @if (Items != null && Items.Any())
        {
            foreach (var item in Items)
            {
                <div class="@item.CssClass" style="@item.CssStyle">
                    @if (item.Item is ComponentBase component)
                    {
                        <DynamicComponent Type="item.Item.GetType()" Parameters="item.Item.ToParameters()"></DynamicComponent>
                    }
                    else
                    {
                        @item.Item.ToString()
                    }
                </div>
            }
        }
    </div>
</CascadingValue>