@namespace BlazorComponent
@typeparam TValue
@typeparam TRangeSlider
@inherits ComponentAbstractBase<TRangeSlider>

<div class="@CssProvider.GetClass("thumb-container")" style="@CssProvider.GetStyle("thumb-container")"
     @ref="ThumbElement" @attributes="ThumbAttrs"
     @onfocus="OnFocus"
     @onblur="OnBlur"
     @onkeydown="OnKeyDown"
     @onkeydown:preventDefault>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BSliderThumb<,>))"></AbstractComponent>
    @if (ShowThumbLabel)
    {
          <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BSliderThumbLabel<,>))"></AbstractComponent>
    }
</div>

@*We will change this when named ref supported*@
<div class="@CssProvider.GetClass("thumb-container",index:1)" style="@CssProvider.GetStyle("thumb-container",index:1)"
     @ref="SecondThumbElement" @attributes="ThumbAttrs"
     @onfocus="OnSecondFocus"
     @onblur="OnSecondBlur"
     @onkeydown="OnKeyDown"
     @onkeydown:preventDefault>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BSliderThumb<,>))"></AbstractComponent>
    @if (ShowThumbLabel)
    {
           <AbstractComponent Index="@(1)" Metadata="AbstractProvider.GetMetadata(typeof(BSliderThumbLabel<,>))"></AbstractComponent>
    }
</div>

