@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id">
    <div class="@CssProvider.GetClass("resp_sizer")" style="@RespSizerStyle"></div>
    <div class="@CssProvider.GetClass("image")"
         style="@CssProvider.GetStyle("image")">
    </div>
    <div class="@CssProvider.GetClass("resp_content")"></div>
</div>