@namespace BlazorComponent
@inherits BDomComponentBase

<BCascadingValue Value="this">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BSlideGroup>()"
                           Mandatory="@(!Optional)"
                           NextIcon="@NextIcon"
                           PrevIcon="@PrevIcon"
                           ShowArrows="@ShowArrows"
                           Value="@Value"
                           ValueChanged="@ValueChanged"
                           Color="@Color"
                           @ref="TabsBarRef">

            @if (!HideSlider)
            {
                <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BTabsSlider<>))"></AbstractComponent>
            }

            @ChildContent

        </AbstractComponent>

        @if (TabItems != null)
        {
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BWindow>()" Value="@Value">
                @foreach (var tabItem in TabItems)
                {
                    <AbstractComponent Metadata="AbstractProvider.GetMetadata<BWindowItem>()"
                                       Value="@tabItem.Value"
                                       ActiveClass="@tabItem.ActiveClass"
                                       Disabled="@tabItem.Disabled"
                                       Class="@tabItem.Class"
                                       Style="@tabItem.Style">
                        @tabItem.ChildContent
                    </AbstractComponent>
                }
            </AbstractComponent>
        }

    </div>
</BCascadingValue>