@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="IsDark" Name="IsDark">
    <BCascadingValue Value="this" IsFixed>
        <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
            <BSlideGroup Mandatory="@(!Optional)"
                         NextIcon="@NextIcon"
                         PrevIcon="@PrevIcon"
                         ShowArrows="@ShowArrows"
                         Value="@Value"
                         ValueChanged="@ValueChanged"
                         Color="@Color"
                         @ref="TabsBarRef"
                         @attributes="GetAttributes(typeof(BSlideGroup))">
                @if (!HideSlider)
                {
                    @RenderPart(typeof(BTabsSlider<>))
                }
                @RenderPart(typeof(BTabsTab<>))
            </BSlideGroup>
            @RenderPart(typeof(BTabsBody<>))
        </div>
    </BCascadingValue>
</CascadingValue>