@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<ITabsBar>()">
            @if (!HideSlider)
            {
                <div class="@CssProvider.GetClass("slider-wrap")" style="@CssProvider.GetStyle("slider-wrap")">
                    @if (SliderContent == default)
                    {
                        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BTabsSlider>()"></AbstractComponent>
                    }
                    else
                    {
                        @SliderContent
                    }
                </div>
            }
            @TabContent
        </AbstractComponent>
        @if (ItemsContent == default)
        {
            <AbstractComponent Metadata="AbstractProvider.GetMetadata<ITabsItems>()">
                @ItemContent
            </AbstractComponent>
        }
        else
        {
            @ItemsContent
        }
    </div>
</CascadingValue>

