@namespace BlazorComponent
@typeparam TCalendarCategory
@inherits BCalendarDailyDayHeader<TCalendarCategory>

@for (var i = 0; i < ParsedCategories.Count; i++)
{
    var index = i;
    var category = ParsedCategories[index];
    <div class="@CssProvider.GetClass("dayHeader")" style="@CssProvider.GetStyle("dayHeader")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarCategoryDayHeaderCategory<>))" Index="@index" Day="@Day" Scpoe="@GetCategoryScope(category)"></AbstractComponent>
    </div>
}
