@namespace BlazorComponent
@inherits BItemGroup

<BCascadingValue Value="this" IsFixed>
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id">
        @RenderPart(typeof(BSlideGroupPrev<>))
        <div class="@CssProvider.GetClass("wrapper")" style="@CssProvider.GetStyle("wrapper")" @ref="WrapperRef">
            <div class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")" @ref="ContentRef">
                @ChildContent
            </div>
        </div>
        @RenderPart(typeof(BSlideGroupNext<>))
    </div>
</BCascadingValue>