@namespace BlazorComponent
@inherits BItemGroup

<AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(CascadingValue<ISlideGroup>))">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id">

        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BSlideGroupPrev<>))"></AbstractComponent>

        <div class="@CssProvider.GetClass("wrapper")" style="@CssProvider.GetStyle("wrapper")" @ref="WrapperRef">
            <div class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")" @ref="ContentRef">
                @ChildContent
            </div>
        </div>

        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BSlideGroupNext<>))"></AbstractComponent>

    </div>
</AbstractComponent>