@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
    <AbstractComponent Disabled="@PrevDisabled" OnClick="@OnPrevClick" StopPropagation="@true" Metadata="AbstractProvider.GetMetadata<BButton>()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()">
            @PrevIcon
        </AbstractComponent>
    </AbstractComponent>
    <div class="@CssProvider.GetClass("value")">
        <div class="@CssProvider.GetClass("header")">
            @if (ActivePicker == "DATE")
            {
                // for refresh,this will be change in feature version
                <button type="button" @onclick="OnDateClick">
                    @if (ChildContent != default)
                    {
                        @ChildContent
                    }
                    else
                    {
                        @DisplayValue
                    }
                </button>
            }
            else
            {
                <button type="button" @onclick="OnDateClick">
                    @if (ChildContent != default)
                    {
                        @ChildContent
                    }
                    else
                    {
                        @DisplayValue
                    }
                </button>
            }
        </div>
    </div>
    <AbstractComponent Disabled="@NextDisabled" OnClick="@OnNextClick" StopPropagation="@true" Metadata="AbstractProvider.GetMetadata<BButton>()">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BIcon>()">
            @NextIcon
        </AbstractComponent>
    </AbstractComponent>
</div>
