@namespace BlazorComponent
@inherits BActivatable

@RenderPart(typeof(BDialogActivator<>))

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" role="dialog">
    @RenderPart(typeof(BDialogContent<>))
    
    @if (ShowContent)
    {
        <BOverlay @attributes="GetAttributes(typeof(BOverlay))" @ref="Overlay"></BOverlay>
    }
</div>
