@namespace BlazorComponent
@inherits BDomComponentBase


<div @ref="Ref">
    <SlotComponent Description="SlotProvider.GetSlot<BPopover>()">
        <div class="@CssProvider.GetClass(this)" id="@Id" style="@CssProvider.GetStyle(this)">
            <div class="@CssProvider.GetClass(this,"body")" style="@CssProvider.GetStyle(this,"body")">
                @ChildContent
            </div>
        </div>
    </SlotComponent>

    <SlotComponent Description="SlotProvider.GetSlot<BOverlay>()" />
</div>
