@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="true" Name="Fixed">
    <CascadingValue Value="CascadingZIndex" Name="ZIndex">
        <div @ref="Ref">
            <div class="@CssProvider.GetClass()" id="@Id" style="@CssProvider.GetStyle()">
                <div class="@CssProvider.GetClass("body")" style="@CssProvider.GetStyle("body")">
                    @ChildContent
                </div>
            </div>

            <AbstractComponent Metadata="AbstractProvider.GetMetadata<BOverlay>()" />
        </div>
    </CascadingValue>
</CascadingValue>
