@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="true" Name="Fixed">
    <div @ref="Ref">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BPopover>()">
            <div class="@CssProvider.GetClass()" id="@Id" style="@CssProvider.GetStyle()">
                <div class="@CssProvider.GetClass("body")" style="@CssProvider.GetStyle("body")">
                    @ChildContent
                </div>
            </div>
        </AbstractComponent>

        <AbstractComponent Metadata="AbstractProvider.GetMetadata<BOverlay>()" />
    </div>
</CascadingValue>
