@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")" @ref="ContentRef">
    @ChildContent
</div>
<div class="@CssProvider.GetClass("activator")" style="@CssProvider.GetStyle("activator")" @ref="Ref" @onmouseenter="()=>IsActive=true" @onmouseleave="()=>IsActive=false">
    @Activator
</div>
<span class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
</span>
