@namespace BlazorComponent
@inherits BDomComponentBase
@implements IIcon

@if (!Disabled && OnClick.HasDelegate)
{
    <button type="button"
        class="@Css"
        style="@CssProvider.GetStyle()"
        id="@Id"
        @ref="Ref"
        @onclick="OnClick"
        @onclick:stopPropagation>
        @_icon
    </button>

}
else
{
    if (Tag == IconTag.I)
    {
        <i class="@Css"
   style="@CssProvider.GetStyle()"
   id="@Id"
   @ref="Ref">
            @_icon
        </i>
    }
    else
    {
        // Render SVG
        <span role="img"
      class="@Css"
      style="@CssProvider.GetStyle()"
      id="@Id"
      @ref="Ref">
            @((MarkupString) _icon)
        </span>
    }

}
