@namespace BlazorComponent
@inherits BDomComponentBase

@if (Tag == IconTag.I)
{
    if (OnClick.HasDelegate)
    {
        <button type="button"
                class="@Css"
                style="@CssProvider.GetStyle()"
                id="@Id"
                disabled="@Disabled"
                @ref="Ref"
                @onclick="OnClick"
                @onclick:stopPropagation>
            @_icon
        </button>
    }
    else
    {
        <i class="@Css"
           style="@CssProvider.GetStyle()"
           id="@Id"
           @ref="Ref"
           @onclick="OnClick">
            @_icon
        </i>
    }
}
else
{
    // Render SVG

    <span role="img"
          class="@Css"
          style="@CssProvider.GetStyle()"
          id="@Id"
          @ref="Ref"
          @onclick="OnClick"
          @onclick:stopPropagation>
        @((MarkupString) _icon)
    </span>
}
