@namespace BlazorComponent
@inherits BDomComponentBase

<CascadingValue Value="this">
    <aside class="@CssProvider.GetClass(this)" style="@CssProvider.GetStyle(this)" id="@Id" @ref="Ref" @attributes="Attributes">
        <div class="@CssProvider.GetClass(this,"content")">
            @ChildContent
        </div>
        <div class="@CssProvider.GetClass(this,"border")"></div>
    </aside>
</CascadingValue>

