@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssBuilder.Class" style="@StyleBuilder.Style" id="@Id" @ref="Ref">
    @if (Stream)
    {
        <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"stream")" style="@ConfigProvider.GetStyle(typeof(BProcessLinear),"stream")"></div>
    }

    <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"background")" style="@ConfigProvider.GetStyle(typeof(BProcessLinear),"background")"></div>

    <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"buffer")" style="@ConfigProvider.GetStyle(typeof(BProcessLinear),"buffer")"></div>

    @if (Indeterminate)
    {
        <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"indeterminate")">
            <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"long")"></div>
            <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"short")"></div>
        </div>
    }
    else
    {
        <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"determinate")"></div>
    }

    <div class="@ConfigProvider.GetCss(typeof(BProcessLinear),"content")">
        @ChildContent
    </div>
</div>