@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref">
    @if (Stream)
    {
        <div class="@CssProvider.GetClass("stream")" style="@CssProvider.GetStyle("stream")"></div>
    }

    <div class="@CssProvider.GetClass("background")" style="@CssProvider.GetStyle("background")"></div>

    <div class="@CssProvider.GetClass("buffer")" style="@CssProvider.GetStyle("buffer")"></div>

    @if (Indeterminate)
    {
        <div class="@CssProvider.GetClass("indeterminate")">
            <div class="@CssProvider.GetClass("long")"></div>
            <div class="@CssProvider.GetClass("short")"></div>
        </div>
    }
    else
    {
        <div class="@CssProvider.GetClass("determinate")"></div>
    }

    <div class="@CssProvider.GetClass("content")">
        @ChildContent
    </div>
</div>