@namespace BlazorComponent
@inherits BDomComponentBase

@if (ChildContent == null)
{
	<div role="progressbar"
	 aria-valuemin="0"
	 aria-valuemax="100"
	 class="@CssProvider.GetClass(this)"
	 style="@CssProvider.GetStyle(this)">
	 <svg xmlns="http://www.w3.org/2000/svg"
		 viewBox="21.904761904761905 21.904761904761905 43.80952380952381 43.80952380952381"
		 style="transform: rotate(0deg);">
	  <circle fill="transparent"
				cx="43.80952380952381"
				cy="43.80952380952381"
				r="20"
				stroke-width="3.8095238095238093"
				stroke-dasharray="125.664"
				stroke-dashoffset="125.66370614359172px"
				class="m-progress-circular__overlay"></circle>
	 </svg><div class="m-progress-circular__info"></div>
	</div>
}
else
{
	<div class="@CssProvider.GetClass(this)"
	 style="@CssProvider.GetStyle(this)"
	 id="@Id"
	 @ref="Ref">
		@ChildContent
	</div>
}