@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass(this)" style="@CssProvider.GetStyle(this)" id="@Id" @ref="Ref">
    @if (Stream)
    {
        <div class="@CssProvider.GetClass(this,"stream")" style="@CssProvider.GetStyle(this,"stream")"></div>
    }

    <div class="@CssProvider.GetClass(this,"background")" style="@CssProvider.GetStyle(this,"background")"></div>

    <div class="@CssProvider.GetClass(this,"buffer")" style="@CssProvider.GetStyle(this,"buffer")"></div>

    @if (Indeterminate)
    {
        <div class="@CssProvider.GetClass(this,"indeterminate")">
            <div class="@CssProvider.GetClass(this,"long")"></div>
            <div class="@CssProvider.GetClass(this,"short")"></div>
        </div>
    }
    else
    {
        <div class="@CssProvider.GetClass(this,"determinate")"></div>
    }

    <div class="@CssProvider.GetClass(this,"content")">
        @ChildContent
    </div>
</div>