@namespace BlazorComponent
@typeparam TItem
@inherits BDomComponentBase

<tr class="@CssProvider.GetClass()" @attributes="Attributes">
    @{
        var haveSEtFirstLeft = false;
        var haveSetFirstRight = false;
        
        for (var i = 0; i < Headers.Count; i++)
        {
            var index = i;
            var header = Headers[index];

            if (header.Fixed == DataTableFixed.Right)
            {
                if (!haveSetFirstRight)
                {
                    haveSetFirstRight = true;
                    header.IsFirstFixedColumn = true;
                }
            }
            else if (header.Fixed == DataTableFixed.Left)
            {
                if (!haveSEtFirstLeft)
                {
                    haveSEtFirstLeft = true;
                    header.IsFirstFixedColumn = true;
                }
            }

            <td class="@CssProvider.GetClass("cell", data: header)"
                style="@CssProvider.GetStyle("cell", data: header)"
                @ref="header.ElementReference">
                @{
                    var props = new ItemColProps<TItem>(header, Item);
                    if (HasSlot(props))
                    {
                        @SlotContent(props)
                    }
                    else
                    {
                        @props.Value
                    }
                }
            </td>
        }
    }
</tr>
