@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref">
    <CascadingValue Value="this" Name="Tree" IsFixed="@true">
        @if (DataSource != null)
        {
            foreach (var item in DataSource)
            {
                <AbstractComponent DataItem="@item" @key="item.GetHashCode()" Metadata="AbstractProvider.GetMetadata<BTreeItem<TItem>>()"></AbstractComponent>
            }
        }
        else
        {
            <div class="@CssProvider.GetClass("child")">
                @NodesContent
            </div>
        }
    </CascadingValue>
</div>
