@namespace BlazorComponent
@inherits ComponentBase
@typeparam TItem

<span class="@CssBuilder.Class" title="@SelfNode.Title" @onclick="OnClick" @ondblclick="OnDblClick" draggable="@CanDraggable" aria-grabbed="@CanDraggable">
    @if (BTreeComponent.TitleIconTemplate != null && BTreeComponent.ShowIcon)
    {
        <span class="ant-BTree-iconEle @(IsSwitcherOpen?"ant-BTree-icon__open":"") @(IsSwitcherClose?"ant-BTree-icon__close":"") @(SelfNode.Loading?"ant-BTree-icon_loading":"")">
            <span class="ant-BTree-iconEle ant-BTree-icon__customize">
                @BTreeComponent.TitleIconTemplate(SelfNode)
            </span>
        </span>
    }
    else if (string.IsNullOrWhiteSpace(SelfNode.Icon) == false && BTreeComponent.ShowIcon)
    {
        <span class="ant-BTree-iconEle @(IsSwitcherOpen?"ant-BTree-icon__open":"") @(IsSwitcherClose?"ant-BTree-icon__close":"") @(SelfNode.Loading?"ant-BTree-icon_loading":"")">
            <span class="ant-BTree-iconEle ant-BTree-icon__customize">
                @if (string.IsNullOrWhiteSpace(SelfNode.Icon) == false)
                {
                    <Icon Type="@SelfNode.Icon" Theme="outline" />
                }
            </span>
        </span>
    }

    @if (BTreeComponent.TitleTemplate != null)
    {
        @BTreeComponent.TitleTemplate(SelfNode)
    }
    else
    {
        <span class="ant-BTree-title">
            @SelfNode.Title
        </span>
    }
</span>