@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem


<CascadingValue Value="this" Name="SelfNode">
    <div @key="NodeId" class="@CssBuilderRoot.Class" style="@Style">
        @for (int i = 0; i < TreeLevel; i++)
        {
            <div class="@CssBuilderLevel.Class"></div>
        }
        @if (!IsLeaf)
        {
            <i Class="mr-3 fas @(HasChildNodes ? "fa-caret-down":"fa-caret-right")" @onclick ="@(() => Expanded = !Expanded)"></i>
        }
        else
        {
            <i class="mr-3 fas fa-genderless"></i>
        }

        <i Class="mr-3 far @(Checked?"fa-square":"fa-check-square")" @onclick ="OnCheckBoxClick"></i>

        @Title 


    </div>
</CascadingValue>

<CascadingValue Value="this" Name="Node">
    @if (Expanded)
    {
        @if (DataItem != null)
        {
            foreach (var item in ChildDataItems)
            {
                <TreeItem DataItem="@item" @key="item.GetHashCode()"></TreeItem>
            }
        }
        else
        {
            @Nodes
        }
    }
</CascadingValue>