@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TItem

@if (RealDisplay)
{
    <CascadingValue Value="this" Name="SelfNode">
        <div @key="NodeId" class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
            @for (int i = 0; i < TreeLevel; i++)
        {
            <div class="@CssProvider.GetClass("level")"></div>
        }

        <div style="@CssProvider.GetStyle("icon")">
            @if (!IsLeaf)
            {
                <i Class="mr-3 fas @((HasChildNodes && Expanded) ? "fa-caret-down" : "fa-caret-right")" @onclick="@(() => Expanded = !Expanded)"></i>
            }
        </div>

        @if (Checkable)
        {
            <i Class="mr-3 far @(Checked ? "fa-check-square" : "fa-square")" @onclick="OnCheckBoxClick"></i>
        }

        <span style="@CssProvider.GetStyle("title")" @onclick="async ()=> { if (HandleItemClick.HasDelegate) await HandleItemClick.InvokeAsync(DataItem);}">
            @Title
        </span>
    </div>
</CascadingValue>
}

<CascadingValue Value="this" Name="Node">
    @if (DataItem != null)
    {
        foreach (var item in ChildDataItems)
        {
            <AbstractComponent DataItem="@item" @key="item.GetHashCode()" Metadata="AbstractProvider.GetMetadata<BTreeItem<TItem>>()"></AbstractComponent>
        }
    }
    else
    {
        @Nodes
    }
</CascadingValue>