@namespace BlazorComponent
@typeparam TComponent
@inherits ComponentPartBase<TComponent>

<div class="@CssProvider.GetClass("pagination")">
    @{
        var itemsLength = Pagination.ItemsLength;
        var pageStart = Pagination.PageStart;
        var pageStop = Pagination.PageStop;

        if (Pagination.ItemsLength > 0 && Pagination.ItemsPerPage != 0)
        {
            pageStart = Pagination.PageStart + 1;
            pageStop = (itemsLength < Pagination.PageStop || Pagination.PageStop < 0)
                ? itemsLength
                : Pagination.PageStop;

            if (PageTextContent != null)
            {
                @PageTextContent((pageStart,pageStop,itemsLength))
            }
            else if (PageText != null)
            {
                @string.Format(PageText, pageStart, pageStop, itemsLength)
            }
        }
        else if (PageTextContent != null)
        {
            @PageTextContent((pageStart,pageStop,itemsLength))
        }
        else
        {
            @("–")
        }
    }
</div>
