@namespace BlazorComponent
@inherits BDomComponentBase

<BCascadingValue Value="this">
    <div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" id="@Id" @ref="Ref" 
        @onclick="HandleOnClickAsync"
        @attributes="Attributes">
        @RenderPart(typeof(BStepperStepStep<>))
        @RenderPart(typeof(BStepperStepLabel<>))
    </div>
</BCascadingValue>
