@namespace BlazorComponent
@inherits BDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()" @ref="Ref">
    @if (ChildContent != null)
    {
        @ChildContent((_loadStatus, CreateEventCallback(DoLoadMore)))
    }
    else
    {
        if (_loadStatus == InfiniteScrollLoadStatus.Empty)
        {
            @if (EmptyContent != null)
            {
                @EmptyContent
            }
            else
            {
                <span>@EmptyText</span>
            }
        }
        else if (_loadStatus == InfiniteScrollLoadStatus.Loading)
        {
            @if (LoadingContent != null)
            {
                @LoadingContent
            }
            else
            {
                <span>@LoadingText</span>
                <BProgressCircular Indeterminate Size="24" Color="@Color" @attributes="@GetAttributes(typeof(BProgressCircular))"></BProgressCircular>
            }
        }
        else if (_loadStatus == InfiniteScrollLoadStatus.Error)
        {
            if (ErrorContent != null)
            {
                @ErrorContent.Invoke(DoLoadMore)
            }
            else
            {
                <span>@ErrorText</span>

                <BButton OnClick="DoLoadMore" Color="@Color" @attributes="@GetAttributes(typeof(BButton), "retry")">
                    <BIcon>$retry</BIcon>
                </BButton>
            }
        }
        else
        {
            @if (LoadMoreContent != null)
            {
                @LoadMoreContent.Invoke(DoLoadMore)
            }
            else
            {
                <BButton OnClick="DoLoadMore" Color="@Color" @attributes="@GetAttributes(typeof(BButton), "loadMore")">@LoadMoreText</BButton>
            }
        }
    }
</div>
