@namespace BlazorComponent
@inherits BDomComponentBase
@implements IDatePickerTableBody

<thead>
    <tr>
        @if (ShowWeek)
        {
            <th></th>
        }
        @foreach (var day in WeekDays)
        {
            <th>@day</th>
        }
    </tr>
</thead>
<tbody>
    @{
        var totalCount = 0;
        var dayCount = 1;
        var weekCount = 1;

        @for (; totalCount < DaysInMonth + WeekDaysBeforeFirstDayOfTheMonth + 1; weekCount++)
        {
            <tr>
                @for (; totalCount < WeekDaysBeforeFirstDayOfTheMonth; totalCount++)
                {
                    <td></td>
                }

                @for (; totalCount < weekCount * 7; dayCount++, totalCount++)
                {
                    if (dayCount <= DaysInMonth)
                    {
                        var day = dayCount;
                        <td>
                            @if (IsCurrentDay(day))
                            {
                                <AbstractComponent IsActive="@IsSelected(day)" Click="@HandleDayClick(day)" Metadata="AbstractProvider.GetMetadata<BButton>(CURRENT_BTN)">
                                    @day
                                </AbstractComponent>
                            }
                            else
                            {
                                <AbstractComponent IsActive="@IsSelected(day)" Click="@HandleDayClick(day)" Metadata="AbstractProvider.GetMetadata<BButton>()">
                                    @day
                                </AbstractComponent>
                            }
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    }
</tbody>
