@namespace BlazorComponent
@typeparam TInput
@inherits ComponentAbstractBase<TInput>

<div class="@CssProvider.GetClass("switch")" style="@CssProvider.GetStyle("switch")">
    <AbstractComponent Type="checkbox" Metadata="AbstractProvider.GetMetadata(typeof(BSelectableInput<>))">
    </AbstractComponent>
    <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BRippleableRipple<>))"></AbstractComponent>
    <div class="@CssProvider.GetClass("track")" style="@CssProvider.GetStyle("track")"></div>
    <div class="@CssProvider.GetClass("thumb")" style="@CssProvider.GetStyle("thumb")">
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BSwitchProgress<>))"></AbstractComponent>
    </div>
    @if (LeftText != null)
    {
        <span class="@CssProvider.GetClass("left")" style="@CssProvider.GetStyle("left")">@LeftText</span>
    }
    @if (RightText != null)
    {
        <span class="@CssProvider.GetClass("right")" style="@CssProvider.GetStyle("right")">@RightText</span>
    }
</div>
