@namespace BlazorComponent
@typeparam TToolbar
@inherits BSheetBody<TToolbar>

@if (!string.IsNullOrEmpty(Src) || ImgContent != null)
{
    <div class="@CssProvider.GetClass("image")" style="@CssProvider.GetStyle("image")">
        @if (ImgContent != null)
        {
            @ImgContent(ImgProps)
        }
        else
        {
            <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(IImage))"></AbstractComponent>
        }
    </div>
}

<div class="@CssProvider.GetClass("content")" style="@CssProvider.GetStyle("content")">
    @ComponentChildContent
</div>

@if (IsExtended)
{
    <div class="@CssProvider.GetClass("extension")" style="@CssProvider.GetStyle("extension")">
        @ExtensionContent
    </div>
}
