@namespace BlazorComponent
@typeparam TCalendarWeekly
@inherits ComponentAbstractBase<TCalendarWeekly>

@if(ShowWeek)
{
    <div class="@CssProvider.GetClass("headNumber")">
        @for (var i = 0; i < TodayWeek.Count; i++)
        {
            var index = i;
            var day = TodayWeek[index];
            <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarWeeklyHeadDay<>))" 
                Index="@index" Day="@day"></AbstractComponent>
        }
    </div>
}
else
{
    @for (var i = 0; i < TodayWeek.Count; i++)
    {
        var index = i;
        var day = TodayWeek[index];
        <AbstractComponent Metadata="AbstractProvider.GetMetadata(typeof(BCalendarWeeklyHeadDay<>))" 
            Index="@index" Day="@day"></AbstractComponent>
    }
}