@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TColumnItem

<div class="@CssProvider.GetClass("column")" style="@CssProvider.GetStyle("column")"
     @ontouchstart="OnTouchstart"
     @ontouchmove="OnTouchmove"
     @ontouchend="OnTouchend"
     @ontouchcancel="OnTouchend">
    <ul class="@CssProvider.GetClass("column-wrapper")" style="@CssProvider.GetStyle("column-wrapper")"
        @ontransitionend="OnTransitionEnd"
        @ref="Wrapper">
        
        @for (int i = 0; i < Items.Count; i++)
        {
            var item = Items[i];
            var index = i;
            
            <li class="@CssProvider.GetClass("column-item", data: ItemDisabled(item))"
                style="@CssProvider.GetStyle("column-item")"
                @onclick="@(() => OnClickItem(index))">
                <div class="@CssProvider.GetClass("column-text")">@ItemText?.Invoke(item)</div>
            </li>
        }
    </ul>
</div>
