@namespace BlazorComponent
@inherits BDomComponentBase
@typeparam TColumn
@typeparam TColumnItem
@typeparam TColumnItemValue

<div class="@CssProvider.GetClass("view")" style="@CssProvider.GetStyle("view")" @ontouchmove:preventDefault>
    <CascadingValue Value="this">
        @foreach (var (item, columnIndex) in FormattedColumns.Select((item, index) => (item, index)))
        {
            var index = (item.DefaultIndex ?? DefaultIndex.ToInt32()); // TODO: this index?
            var defaultIndex = GetDefaultIndex(item.Values, columnIndex);
            
            Console.WriteLine($"defaultIndex; {defaultIndex}");

            <BMobilePickerColumn TColumn="TColumn"
                                 TColumnItem="TColumnItem"
                                 TColumnItemValue="TColumnItemValue"
                                 VisibleItemCount="@VisibleItemCount" 
                                 SwipeDuration="@SwipeDuration"
                                 Value="defaultIndex"
                                 Items="item.Values"
                                 ItemText="ItemText" 
                                 ItemHeight="ItemPxHeight"
                                 OnChange="() => HandleOnChange(columnIndex)">
            </BMobilePickerColumn>
        }
    </CascadingValue>
    <div class="@CssProvider.GetClass("mask")" style="@CssProvider.GetStyle("mask")"></div>
    <div class="@CssProvider.GetClass("picked")" style="@CssProvider.GetStyle("picked")"></div>
</div>
